* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.btn_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.btn_wrapper > button {
    background-color: white;
    cursor: pointer;
}

.fixed-el {
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 50%;
    z-index: 99;
}